
.qrcodeCon{
	display: none;
}
#ftCon{
	display: none;
}
#u1{
	display: none;
}



/* 
.container_s #content_right{
	display: none;
} */
.container_l #content_right{
    display: none;
}

#s_tab{
    text-align: center;
}

#result_logo{
	display: none;
}

.quickdelete-wrap{
	margin-left: auto;
}

body{
	background: white;
}
#content_left{
	background: white;
}

.nums{
	padding-left: 25%!important;
}

#content_left {
	padding-left: 35%!important;
}

.search_tool_conter{
	padding-left: 25%!important;
}
.c-container{
	border: .5px solid  darkgray!important;
	border-radius: 3px!important;
}

#con-ar{
	display: none;
}

#rs .tt{
	padding-left: 50%!important;
}

#rs table{
	margin-left: 50%!important;
}

#page{
	padding-left: 35%!important;
}

